name: CI Dev Simple

on:
  push:
    branches:
      - "ci-dev/marcelo/2026/01/ephemerals"

env:
  LAKE_NO_CACHE: true

jobs:
  job1:
    runs-on: ml-ephemeral
    steps:
      - name: Job 1
        run: echo "job1 on runner ${RUNNER_NAME}"

      - name: Checkout master branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: master

      - name: Configure Lean
        uses: leanprover/lean-action@c544e89643240c6b398f14a431bcdc6309e36b3e # v1.4.0
        with:
          auto-config: false
          use-github-cache: false
          use-mathlib-cache: false
          reinstall-transient-toolchain: true

      - name: get full cache for Mathlib
        run: |
          lake exe cache get

      - name: verify that everything was available in the cache
        run: |
          echo "::group::{verify Mathlib cache}"
          lake build --no-build --rehash -v Mathlib

      - name: build Mathlib
        run: |
          lake build

  job2:
    runs-on: ml-ephemeral
    needs: job1
    steps:
      - name: Job 2
        run: echo "job2 on runner ${RUNNER_NAME}"

      - name: Checkout master branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: master

      - name: Configure Lean
        uses: leanprover/lean-action@c544e89643240c6b398f14a431bcdc6309e36b3e # v1.4.0
        with:
          auto-config: false
          use-github-cache: false
          use-mathlib-cache: false
          reinstall-transient-toolchain: true

      - name: get full cache for Mathlib
        run: |
          lake exe cache get

      - name: build Mathlib
        run: |
          lake build

      - name: verify that everything was available in the cache
        run: |
          echo "::group::{verify Mathlib cache}"
          lake build --no-build --rehash -v Mathlib
